# Week 4 Assignment

In [2]:
# Import the required packages
using Distributions, DataFrames, Random

In [9]:
# Question 1: Create a dataframe named df1 with 30 rows and 4 columns
df1 = DataFrame(ID=1:30, var1=round.(rand(Distributions.Normal(0, 1), 30), digits=1), var2=round.(rand(Distributions.Normal(10, 2), 30), digits=1), var3=rand(5:15, :30))

30×4 DataFrame
 Row │ ID     var1     var2     var3
     │ Int64  Float64  Float64  Int64
─────┼────────────────────────────────
   1 │     1      0.1     10.6      8
   2 │     2      0.6      9.4      6
   3 │     3     -2.6     13.4     13
   4 │     4      0.3      9.3     14
   5 │     5      0.5      8.8     15
   6 │     6     -1.2      8.0     15
   7 │     7      0.8      9.6     13
   8 │     8      1.9     11.9      8
  ⋮  │   ⋮       ⋮        ⋮       ⋮
  24 │    24     -0.6     12.0     12
  25 │    25      0.7     12.1     13
  26 │    26      0.3     10.4      7
  27 │    27     -0.1      9.9      5
  28 │    28     -0.3      7.6     11
  29 │    29      1.1      8.2     13
  30 │    30      1.3     12.6      5
                       15 rows omitted

In [34]:
# Question 2: Calculate mean and variance of each column of df1
for name in names(df1)
    m = mean(df1[!, name])
    v = var(df1[!, name])
    println("Mean of $name: $m")
    println("Variance of $name: $v")
    println()
end

Mean of ID: 15.5
Variance of ID: 77.5

Mean of var1: 0.056666666666666664
Variance of var1: 1.0646091954022991

Mean of var2: 10.073333333333332
Variance of var2: 3.3178850574712633

Mean of var3: 10.166666666666666
Variance of var3: 12.005747126436782

In [35]:
# Question 3: Create a new dataframe named df2 from the last 20 rows of df1
df2 = last(df1, 20)

20×4 DataFrame
 Row │ ID     var1     var2     var3
     │ Int64  Float64  Float64  Int64
─────┼────────────────────────────────
   1 │    11     -0.5     11.7      6
   2 │    12     -2.1      9.3     10
   3 │    13      0.3     11.4      5
   4 │    14      1.1     12.1     15
   5 │    15     -1.4      7.7     15
   6 │    16      0.6     10.3      6
   7 │    17     -0.7      7.9     12
   8 │    18      0.7     12.4      8
  ⋮  │   ⋮       ⋮        ⋮       ⋮
  14 │    24     -0.6     12.0     12
  15 │    25      0.7     12.1     13
  16 │    26      0.3     10.4      7
  17 │    27     -0.1      9.9      5
  18 │    28     -0.3      7.6     11
  19 │    29      1.1      8.2     13
  20 │    30      1.3     12.6      5
                        5 rows omitted

In [36]:
# Question 4: Calculate a simple descriptive statistics on df2 using the describe() function
describe(df2)

4×7 DataFrame
 Row │ variable  mean     min   median   max   nmissing  eltype
     │ Symbol    Float64  Real  Float64  Real  Int64     DataType
─────┼────────────────────────────────────────────────────────────
   1 │ ID          20.5   11       20.5  30           0  Int64
   2 │ var1        -0.01  -2.1      0.1   1.3         0  Float64
   3 │ var2        10.02   6.7     10.1  12.6         0  Float64
   4 │ var3         9.5    5        9.0  15           0  Int64

In [51]:
# Question 5: Add a column named cat1 to df2 consisting of a random selection of 20 values from the sample space "GroupA" and "GroupB"
S = ["GroupA", "GroupB"]
df1[!, "cat1"] = [sample(S) for i in 1:30]
df1

30×5 DataFrame
 Row │ ID     var1     var2     var3   cat1
     │ Int64  Float64  Float64  Int64  String
─────┼────────────────────────────────────────
   1 │     1      0.1     10.6      8  GroupB
   2 │     2      0.6      9.4      6  GroupA
   3 │     3     -2.6     13.4     13  GroupB
   4 │     4      0.3      9.3     14  GroupA
   5 │     5      0.5      8.8     15  GroupA
   6 │     6     -1.2      8.0     15  GroupA
   7 │     7      0.8      9.6     13  GroupB
   8 │     8      1.9     11.9      8  GroupB
  ⋮  │   ⋮       ⋮        ⋮       ⋮      ⋮
  24 │    24     -0.6     12.0     12  GroupA
  25 │    25      0.7     12.1     13  GroupA
  26 │    26      0.3     10.4      7  GroupB
  27 │    27     -0.1      9.9      5  GroupB
  28 │    28     -0.3      7.6     11  GroupA
  29 │    29      1.1      8.2     13  GroupB
  30 │    30      1.3     12.6      5  GroupA
                               15 rows omitted

In [53]:
# Question 6: Create a new dataframe df3 with columns named "id", "var4" and "var5"
df3 = DataFrame(ID=11:30, var4=21:40, var5=41:60)

20×3 DataFrame
 Row │ ID     var4   var5
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │    11     21     41
   2 │    12     22     42
   3 │    13     23     43
   4 │    14     24     44
   5 │    15     25     45
   6 │    16     26     46
   7 │    17     27     47
   8 │    18     28     48
  ⋮  │   ⋮      ⋮      ⋮
  14 │    24     34     54
  15 │    25     35     55
  16 │    26     36     56
  17 │    27     37     57
  18 │    28     38     58
  19 │    29     39     59
  20 │    30     40     60
             5 rows omitted

In [54]:
# Question 7: Join df2 and df3 on the ID column and save the results as a new dataframe named df4 (hint: you can use innerjoin).
innerjoin(df2, df3, on = :ID)

20×6 DataFrame
 Row │ ID     var1     var2     var3   var4   var5
     │ Int64  Float64  Float64  Int64  Int64  Int64
─────┼──────────────────────────────────────────────
   1 │    11     -0.5     11.7      6     21     41
   2 │    12     -2.1      9.3     10     22     42
   3 │    13      0.3     11.4      5     23     43
   4 │    14      1.1     12.1     15     24     44
   5 │    15     -1.4      7.7     15     25     45
   6 │    16      0.6     10.3      6     26     46
   7 │    17     -0.7      7.9     12     27     47
   8 │    18      0.7     12.4      8     28     48
  ⋮  │   ⋮       ⋮        ⋮       ⋮      ⋮      ⋮
  14 │    24     -0.6     12.0     12     34     54
  15 │    25      0.7     12.1     13     35     55
  16 │    26      0.3     10.4      7     36     56
  17 │    27     -0.1      9.9      5     37     57
  18 │    28     -0.3      7.6     11     38     58
  19 │    29      1.1      8.2     13     39     59
  20 │    30      1.3     12.6      5     40     60
                                      5 rows omitted